<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Welcome to Javascript Racer, motherfucker.</p>

  <form action='/' method='POST'>
    Player 1: <input type='text' name='username_1' placeholder="Player 1's name"><br>
    Player 2: <input type='text' name='username_2' placeholder="Player 2's name"><br>
    <input type='submit'>
  </form>
</div>
